.rouge{
    color: red;
}

.bleu{
    color: blue;
}

.paraGrRouge{
    font-size: xx-large;
    background-color: red;
    font-weight: bold;
}

.sousLigne{
    text-decoration: underline;
}

.ital{
    font-style: italic;
}

/* Something extra */

.pupu{
    animation: pupu 1s infinite;
    background-color: yellow;
}

@keyframes pupu{
    1%{color: red;}
    25%{color: green;}
    50%{color: blue;}
    75%{color: green;}
    100%{color: red;}
}
.nvbr ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nvbr li {
    float: left;
}

.nvbr li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nvbr li a:hover {
    background-color: #111;
}