section{
    padding-bottom: 50px;
    border-bottom: 1px black solid;
}
section:first-child>h4{
    color: blue;
}

section:nth-child(2){
    border-bottom: 5px red solid;
}
section:nth-child(3)>h3,h3+ul>li{
    color: red;
}

li>a{
    font-size: 25px;
}

h3+span{
    color: blue;
}

img{
    border-radius: 50%;
    border: black 1px solid;
}

section:nth-child(7)>p:last-child:hover{
color: green;
}
