section{
    padding-bottom: 50px;
    border-bottom: 1px black solid;
}
section:first-child{
    color: blue;
}

section:nth-child(2){
    border-bottom: 5px red solid;
}
h3,li{
    color: red;
}

li>a{
    font-size: 25px;
}

h3+span{
    color: blue;
}

img{
    border-radius: 50%;
    border: black 1px solid;
}

section:last-child:hover{
color: green;
}