/* :hover --> sous-classe qui est activer quand la souris passe sur le contenu */
/* :active --> activer quand on clique et reste cliquer sur le contenu.  */
/* :focus --> active quand on clique dessus, se desactive quand on clique autre-part */
/* :visited --> pour les liens qu'on a deja visiter. */
