body {
  margin: 0
}

/* Exo margin */
section{
  background-color: #4da6ff;
}
h2{
  border: 2px solid black;
  background-color: yellow;
  font-size: 30px;
}
.tar {
  margin: 50px;
}
.tar2 {
  margin-left: 20%;
}
.tar3 {
  margin: auto;
}

/* fin exo margin */

/* exo padding */
.tarpad{
  padding: 50px;
}
.tarpad2{
  padding-left: 20%;
}
/* fin exo padding */

/* exo display */
.marpad{
  margin: 25px;
  padding: 25px;
  display: inline;
}

.dispno{
  display: none;
  /* rend invisible */
}
/* fin exo display */

/* exo Float */
.flo1{
  width: auto;
  float: left;
}
.overflo {
  overflow: hidden;
}
/* fin exo Float */

/* exo position */
.abso{
position: absolute;
background-color: green;
margin: 0;
top: 50px;
left: 50%;
position: fixed;
}
.sexorel{
position: relative;
}
/* fin exo position */

/* exo position (priorité) */
.bcandroid{
  background-color: blue;
  margin-left: 100px;
  position: absolute;
  padding: 20px;
}

.bctartine{
  position: absolute;
  padding: 20px;
  z-index: 1; /* pour mettre la tartine au dessus de l'android*/
  z-index: -1; /* pour mettre la tartine derriere la section*/
}


/* fin exo position (priorité) */