body{
    background-color: wheat;
}
.flex-container{
    display: flex;
    align-items: center;
    height: 100vh;
}
.flex-item{
    background-color: orangered;
    margin: 4px;
    padding: 35px;
}