.flex-container{
    display: flex;
    height: 98vh;
    background-color: burlywood;
    align-items: center;
    
}
.flex-item{
    height: 100px;
    justify-content: center;
    display: flex;
    background-color: orangered;
    margin: 4px;
    padding: 35px;
}