section{
    padding-bottom: 50px;
}
section:not(:last-of-type){
    border-bottom: solid;
}
div{
    height: 150px;
    width: 150px;
}
/* début exo 01 les_hover_01 */
.bg-color{
    background-color: lightblue;
    
}
.bg-color:hover{
    background-color: purple;
}
/* fin exo 01 les_hover_01 */



/* début exo 02 les_hover_02 */
.height_and_width{
    background-color: lightblue;
    
}
.height_and_width:hover{
    height: 200px;
    width: 500px;
}
/* fin exo 02 les_hover_02 */



/* début exo 03 les_focus_03 */
.border_color:focus{
    border: blue solid;
    border-radius: 10px;
}

/* fin exo 03 les_focus_03 */



/* début exo 04 les transitions */
.transition_04{
    background-color: yellow;
    
    transition: 4s;
}
.transition_04:hover{
    background-color: red;
}
/* fin exo 04 les transitions */



/* début exo 05 les transitions */
.transition_05{
    background: orange;
    
    transition: 2s;
}
.transition_05:hover{
    background: purple;
    border-radius: 50%;
}
/* fin exo 05 les transitions */



/* début exo 06 les transitions */
.transition_06{
    background: grey;
    transition: 3s;
}
.transition_06:active{
    margin: 300px;
}
/* fin exo 06 les transitions */



/* début exo 07 les transitions */
.transition_07{
    background: green;
    transition: ease 3s;
    width: 50px;
}
.transition_07:active{
    margin-left: 80%;
}
/* fin exo 07 les transitions */



/* début exo 08 les transitions */
.transition_08{
    background: lightblue;
    transition: 3s;
    width: 50px;
}
.transition_08:active{
    margin-left: 80%;
    border-radius: 50%;
    height: 50px;
    background: purple;
}
/* fin exo 08 les transitions */



/* début exo 09 les transitions */
.transition_09{
    background: blue;
}
.transition_09_enfant{
    background: lightblue;
    height: 20%;
    width: 20%;
    transition: 3s;
}
.transition_09:active .transition_09_enfant{
background: red;
}
/* fin exo 09 les transitions */



/* début exo 10 les transitions */
.transition_10{
    background: yellow;
    transition: 3s;
}
.transition_10:active{
    margin-left: 90%;
    border-radius: 50%;
    background-color: orange;
}
.transition_10:active .transition_10_intrus{
    margin-left: 100%;
    border-radius: 0% ;
    transition: 3s;
    background-color: blue;
}
.transition_10_intrus{
    background: lightblue;
    height: 25%;
    width: 25%;
    border-radius: 50%;
    transition: 3s;
}

/* fin exo 10 les transitions */

